/* DU Canvas Darkmode CSS v.2023.10.13 */
:root {
    --primary-bg: #0b0b0b;
    --secondary-bg: #232326;
    --primary-text: white;
    --secondary-text: #c8c8c8;
    --border: #707070;
    --link: #ff1040;
    --btn: #ba0c2f;
    --btn-hover: #950a26;
    --info-bg: #0374b5;
}

.ic-Layout-columns,
#dashboard_header_container,
.ic-Dashboard-header__layout,
.header-bar,
.ic-Layout-wrapper,
#breadcrumbs,
.toolbarView,
.toolbarView .headerBar,
.item-group-container,
.item-group-condensed .ig-header,
.ig-list .ig-row,
.fOyUs_dUgE,
.fOyUs_bvKN,
.assignment-student-header,
.module-sequence-footer .module-sequence-footer-content,
#assignments-student-footer,
.fOyUs_fKlg,
.agenda-wrapper,
#calendar-list-holder,
#other-calendars-list-holder,
#undated-events,
.ui-widget-content,
.ui-dialog-titlebar,
.fc-body,
.conversations .panel,
.messages,
.messages>li,
.EmptyDays-styles__root,
.Day-styles__root,
.PlannerHeader-styles__root {
    background: var(--primary-bg) !important;
}

h1,
h2,
h3,
h4,
h5,
p,
.blnAQ_drOs,
body,
.ic-DashboardCard__header-subtitle,
#breadcrumbs,
#breadcrumbs>ul>li+li:last-of-type a,
.ic-DashboardCard,
.ic-DashboardCard__header_content,
.ic-app-course-menu,
.ig-header .name,
li,
.ig-list .ig-row a.ig-title,
.ig-info,
.fOyUs_dUgE,
.fOyUs_bvKN,
.fCrpb_egrg,
.fCrpb_egrg.fCrpb_fVUh,
label.fCrpb_egrg,
.accessible-toggler,
.enRcg_bGBk,
.textLayer,
.quiz_score .score_value,
.fc-day-number,
.event-details-timestring,
.ui-dialog-title,
.eMdva_caGd,
.fQfxa_bCUx.fQfxa_buuG,
.Vmatu_blJt,
.ig-empty-msg,
.standalone-icon:before,
label,
.XOwIb_eLeB,
.edit_calendar_event_option,
.ui-tabs-anchor {
    color: var(--primary-text) !important;
}

.ic-DashboardCard__header-title span,
.ig-details,
#grades_summary th.title .context,
.ic-app-footer__links a,
.context_module_item .type_icon i,
.fc-other-month,
.message-list .summary,
.message-detail.span8 .date,
.message-detail.conversations__message-detail .date,
.icon-email,
.no-messages,
.fOyUs_ImeN,
.ic-DashboardCard__action {
    color: var(--secondary-text) !important;
}

.ic-Dashboard-header__layout,
.header-bar,
.ic-app-nav-toggle-and-crumbs,
.assignment-student-header,
.message-list .messages>li,
.conversations .panel,
.blnAQ_kWwi,
.PlannerItem-styles__root,
.recent-activity-header,
.item-group-condensed .ig-list li:last-child .ig-row.ig-row-empty,
.item-group-condensed .ig-list li:last-of-type .ig-row.ig-row-empty,
.item-group-condensed .last_visible .ig-row.ig-row-empty {
    border-bottom: 1px solid var(--border) !important;
}

#right-side h2,
#right-side .h2 {
    border-bottom: 1px solid var(--border);
}

.message-list-scroller {
    border-right: 1px solid var(--border) !important;
}

.item-group-condensed .ig-header,
.ig-list .ig-row,
.quiz-submission,
.question_editing {
    border: 1px solid var(--border);
}

hr,
.ic-app-footer,
.module-sequence-footer .module-sequence-footer-content {
    border-top: 1px solid var(--border) !important;
}

.btn,
.Button,
.fQfxa_dqAF.fQfxa_buuG,
#planner-today-btn,
.fQfxa_dqAF.fQfxa_bFtJ,
.Vmatu_cjSw.Vmatu_ksNK .Vmatu_cSXm {
    background: var(--btn) !important;
    border: 1px solid var(--btn) !important;
    color: var(--primary-text) !important;
}

.btn:hover,
.Button:hover,
#planner-today-btn:hover,
.fQfxa_dqAF.fQfxa_bFtJ:hover {
    background: var(--btn-hover) !important;
    border: 1px solid var(--btn-hover) !important;
    color: var(--primary-text) !important;
}

.btn-link,
.Button--link,
#minical .fc-widget-content {
    border-color: transparent !important;
}

.Button--icon-action,
.Button--icon-action-rev,
.Button--link {
    transition: color .2s;
    background: transparent !important;
    border: none !important;
    padding: 2px 4px;
    border-radius: 3px;
    color: var(--primary-text);
    outline: none;
}

.ic-DashboardCard,
.ic-DashboardCard__header_content,
.fLzZc_bGBk,
.fLzZc_fSpQ,
.fLzZc_doqw,
.fLzZc_bQpq,
.eJkkQ_bIuM,
#minical,
.event-details,
#calendars-context-list .context_list_context:hover,
#other-calendars-context-list .context_list_context:hover,
.ColorPicker__Container,
.ac-result-container,
.message-list .messages>li.active,
.Grouping-styles__title,
.Grouping-styles__title::after,
.ic-notification__content {
    background: var(--secondary-bg) !important;
}

.ic-app-course-menu {
    border-right: 1px solid var(--border) !important;
}

.list-view a.active {
    border-left: 2px solid var(--primary-text) !important;
    border-radius: 0px;
    font-weight: bold;
    color: var(--primary-text) !important;
    padding-left: 4px;
}

a,
.message-list .date,
a.fbyHH_bGBk,
button.fbyHH_bGBk {
    color: var(--link);
}

.ic-Table.ic-Table--hover-row tbody tr:hover,
.ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-neutral:hover,
.ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-success:hover,
.ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-alert:hover,
.ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-danger:hover,
.quiz-submission,
.question_editing,
.eMdva_bgqc {
    background: var(--secondary-bg) !important;
}

table.summary,
table.summary td,
table.summary tbody th {
    background: var(--secondary-bg) !important;
}

#grades_summary .feedback_visibility_ff a.toggle_comments_link,
#grades_summary .feedback_visibility_ff a.toggle_rubric_assessments_link {
    background: var(--btn) !important;
    color: var(--primary-text) !important;
    border: 1px solid var(--btn) !important;
}

.pill {
    border: 1px solid var(--border) !important;
    box-shadow: 0 0 0 !important;
}

.flash-message-container {
    color: black !important;
}

.eqmZq_bGBk {
    background-color: var(--primary-bg) !important;
}

.eqmZq_bGBk:hover {
    background-color: var(--secondary-bg) !important;
}

.fc-today,
.message-list .message-count,
.eqmZq_dDxn {
    background-color: var(--btn) !important;
}

.message-list .list-header {
    background-color: var(--primary-bg) !important;
    color: var(--primary-text) !important;
}

.dLyYq_pypk,
.dLyYq_ecos {
    background: var(--info-bg) !important;
    color: var(--primary-text) !important;
}

.myScore {
    stroke: var(--info-bg) !important;
    fill: var(--info-bg) !important;
}

.zero,
.possible,
.min,
.bottomQ,
.mid50,
.median,
.topQ,
.max {
    stroke: var(--secondary-text) !important;
}

.ic-Table td,
#grades_summary th.title,
.ic-Table th {
    border-bottom-color: var(--border) !important;
}

.ui-dialog-titlebar-close {
    background: var(--btn) !important;
    border: 1px solid var(--btn) !important;
    box-shadow: 0 0 0 0 #0000 !important;
}

.ui-dialog-titlebar-close:hover {
    background: var(--btn-hover) !important;
    border: 1px solid var(--btn-hover) !important;
    border: 1px solid #0000;
}

.fdyuz_bGBk.fdyuz_cMOR,
.eHzxc_bGBk.eHzxc_bcOZ.eHzxc_ssMr {
    background: var(--primary-bg);
}

a.fbyHH_bGBk.fbyHH_vIby {
    text-decoration: none !important;
}

a.fbyHH_bGBk.fbyHH_vIby:hover {
    text-decoration: var(--fbyHH-textDecorationWithinText) !important;
}

.fOyUs_fZwI,
.fOyUs_kXoP,
.dpCPB_caGd,
.cAqHo_eAjd {
    background: var(--secondary-bg);
}

.XOwIb_eLeB:not([aria-selected]):not([aria-disabled]):hover,
.XOwIb_eLeB[aria-selected] {
    background: var(--btn);
    color: var(--primary-text);
    border: 1px solid var(--btn);
}

[dir="ltr"] .fOyUs_EMjX {
    border: 1px solid var(--secondary-bg);
}

.fQfxa_bGBk:hover {
    background: var(--btn);
}

.Button--icon-action-rev:hover {
    background: #0000 !important;
    border: 1px solid #0000 !important;
    color: var(--secondary-text) !important;
}

.ic-DashboardCard__link:hover {
    color: var(--secondary-text) !important;
}

.ic-DashboardCard__action:hover {
    color: var(--primary-text) !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover,
.ui-tabs .ui-tabs-nav li.ui-state-hover,
.ui-tabs .ui-tabs-nav li:hover,
.ui-tabs .ui-tabs-nav li.ui-state-focus,
.ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-active,
.ui-tabs .ui-tabs-nav li.ui-state-focus a,
.ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-active a {
    background: var(--btn);
    color: var(--primary-text);
    border: 1px solid var(--btn);
    text-decoration: none !important;
}

.ui-tabs .ui-tabs-panel,
.ui-dialog .ui-dialog-titlebar.ui-widget-header {
    border: none;
}

.ui-tabs .ui-tabs-nav {
    border-bottom-color: var(--border) !important;
}

#___reactour .reactour__helper {
    background-color: var(--secondary-bg)
}

.roster-tab {
    background: var(--primary-bg) !important;
}

.ic-Table td,
#grades_summary th.title,
.ic-Table th {
    color: var(--secondary-text);
}

.ic-Table.ic-Table--striped tbody tr:nth-child(odd) {
    background: var(--primary-bg) !important;
}

.ic-Table.ic-Table--striped tbody tr:nth-child(odd):hover {
    background: var(--secondary-bg) !important;
}

.ic-Table--striped tr:nth-child(odd) .roster_user_name {
    color: var(--link);
}

.pinned-discussions-v2__wrapper,
.unpinned-discussions-v2__wrapper,
.closed-for-comments-discussions-v2__wrapper {
    background: var(--primary-bg) !important;
    border: 1px solid var(--border);
}

.discussions-v2__container-image {
    background: var(--secondary-bg) !important;
}

button#ueT2L7DZ3HCx>.fOyUs_kXoP {
    background: var(--btn) !important;
    border-radius: 3px
}

button.fOyUs_bGBk:hover,
button#ueT2L7DZ3HCx>.fOyUs_kXoP:hover {
    background: var(--btn-hover);
}


.user_content.enhanced {
    color: var(--primary-text) !important;
}

div[style*="background-color: rgb(245, 245, 245); border-top: 2px solid rgb(199, 205, 209);"],
span[style*="display: block; width: 100%; z-index: 99; background-color: rgb(245, 245, 245); padding: 1.5rem 0px;"] {
    background-color: var(--secondary-bg) !important;
}

span.enRcg_bGBk.enRcg_cMDj.enRcg_eQnG.enRcg_qFsi {
    color: var(--btn) !important;
}

.fOyUs_bGBk.fOyUs_kXoP {
    background-color: var(--primary-bg) !important;
}
